.btn{
    margin: 200px 100px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(70, 248, 189);
    width: 135px;
    transition: .7s;
}

.btn:hover{
    width: 200px;
    font-size: 21px;
    background-color: rgb(2, 104, 117);
    color: white;
    /* rotate: 10deg; */
}

