.container{
    display: flex;
    gap: 20px;
    margin: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    width: 50px;
    height: 550px;
    border-radius: 10px;
    transition: .7s;
}
.img{
    width: 50px;
    height: 550px;
    border-radius: 10px;
}
.one,.four,.seven,.ten{
    background-color: darkorange;
}
.two,.five,.eight{
    background-color: rgb(255, 10, 214);
}
.three,.six,.nine{
    background-color: rgb(10, 74, 248);
}
.box:hover{
    width: 400px;
}
.img:hover{
    width: 400px;
}
