*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    margin: 50px auto;
    width: 500px;
    text-align: center;
}
#dice{
    margin: 0px auto;
    width: 110px;
    height: 110px;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 65px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
}
.animate-dice{
    animation-name: roll;
    animation-duration: 1s;

}
@keyframes roll{
    from{}
    to{
        transform: rotate(360deg);
    }
}
.btn{
    margin-top: 24px;
    width: 130px;
    height: 40px;
    border: 1px solid black;
    color: black;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border-radius: 12px;
    background-color: lightgray;
    cursor: pointer;
}