.header{
    border: 1px solid lightgray;
    width: 440px;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    margin: 30px auto;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    border-radius: 20px;

}

.txt1{
    font-size: 30px;
    padding-bottom: none;

    
}

.txt2{
    color: gray;
}

.img1{
    border-radius: 100px;
    width: 20%;
    margin-right: 80px;
}

.img2{
    border-radius: 100px;
    width: 20%;
}