.container, .card{
    margin: 50px 100px;
}
.product{
    width: 180px;
    height: 35px;
    border-radius: 4px;
    background-color: rgb(209, 203, 203);
    border: .5px solid black;
    font-weight: 700;
    cursor: pointer;
}
.product-menu{
    width: 180px;
    height: 160px;
    border-radius: 4px;
    border: none;
}
.menus{
    width: 180px;
    height: 35px;
    border-radius: 4px;
    background-color: rgb(209, 203, 203);
    border: none;
    font-weight: 500;
    margin-top: 4px;
}
.d-none{
    display: none;
}

.modal{
    width: 180px;
    height: 35px;
    border: .5px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.modal-display{
    width: 500px;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 35%;
    border-radius: 12px;
    font-size: 20px;
    background-color: aqua;
    position: relative;
    text-align: center;
}
.text{
    padding: 30px 0px;
}


.close{
    position: absolute;
    top: -15px;
    right: 3%;
    font-size: 22px;
    cursor: pointer;
    color: red;
}
.d-modal{
    display: none;
}