@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300;400;500;600&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.header2{
    width: 900;
    height: 280px;
    background-color: rgb(8, 5, 240);
    border-radius: 7px;
}
.footer{
    display: flex;
    justify-content: center;
    margin: 0px 50px;
    gap: 145px;
}
.info{
    display: flex;
    flex-direction: column;
}
.explore{
    display: flex;
    flex-direction: column;
}
.legal{
    display: flex;
    flex-direction: column;
}
a{
    margin-top: -15px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}
h5{
    font-size: 18px;
}
p{
    margin-top: -14px;
    color: white;
}
input{
    border: 1px solid lightgray;
    width: 200px;
    height: 35px;
    border-radius: 7px;
    margin-right: 10px;
    margin-top: -10px;
}
button{
    padding: 5px 5px;
    border: 1px solid black;
    width: 100px;
    height: 40px;
    border-radius: 7px;
}
.logo{
    font-size: 30px;
    margin-top: 10px;
}
i{
    margin-right: 10px;
}
button:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
}
