/* .title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: orangered;
    text-decoration: underline;
    text-align: center;
} */

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    margin: 20px auto;
    align-items: center;
    text-align: center;
    width: 700px;
}
.logo{
    font-size: 48px;
}
.matter{
    font-size: 15px;
    font-style: italic;
}
input{
    width: 250px;
    height: 45px;
    border: 2px solid black;
    border-radius: 12px;
}
::placeholder{
    font-size: 16px;
    color: lightslategray;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}
.btn{
    width: 110px;
    height: 40px;
    color: black;
    background-color: aqua;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 12px;
    font-weight: 500;
}
.displayuser{
    text-align: left;
    background-color: rgb(198, 241, 241);
    font-size: 15px;
    margin: 10px 4px;
}