*{
    margin: 0;
    height: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 105, 105);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.slides{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: linear-gradient(454deg, blue, darkblue);
    scroll-snap-align: start;
}
.slides img{
    width: 320px;
    height: 300px;
}
.slides h3{
    margin-top: -40px;
    font-size: 60px;
    font-weight: 600;
}
.slide1{
    background: linear-gradient(454deg, rgb(255, 167, 4), rgb(2, 216, 253)  );
}
.slide2{
    background: linear-gradient(454deg, rgb(12, 238, 4), rgb(247, 5, 174)  );
}
.slide3{
    background: linear-gradient(454deg, rgb(255, 42, 4), rgb(1, 2, 80)  );
}